$small: 400px;
$medium: 800px;

.smth {
    //some CSS
    @media screen and (max-width: $small) {
        //do Smth
    }
    @media screen and (min-width: $medium) {
        //do Smth
    }
}

nav {
    height: 60px;
    width: 100vw;
    background-color: var(--black);
    box-shadow: 0 3px 20px var(--light-dark);
    display: flex;
    position: relative;
    z-index: 10;
    .nav-links {
        display: flex;
        list-style: none;

        padding: 0 0.7vw;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
    }
    .nav-links li {
        position: relative;
        margin-right: 15px;
    }
    .nav-links li a {
        text-decoration: none;
        padding: 18px 5px;
        margin: 0 0.7vw;
        color: var(--white);
        transition: all 0.5s ease;
        overflow: hidden;
    }
    .nav-links li a:hover {
        background-color: var(--dark-tan);
    }
}
.hamburger {
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 800px) {
    nav {
        position: relative;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        top: 0;
        position: fixed;
        background-color: var(--black);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 100% -10%);
        -webkit-clip-path: circle(1000px at 100% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.home {
    position: relative;
    background-color: var(--white);
    .home_cover_img-container {
        position: relative;
    }
    .home-cover-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 30%);
        text-align: center;
    }
    .home_cover-title {
        width: 350px;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        line-height: 1.5;
        font-style: normal;
        font-stretch: normal;
        font-weight: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--dark-tan);
        z-index: 10;
    }
    .home_cover-subtitle {
        color: var(--white-two);
        font-size: 28px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
    }

    .home_input {
        margin: 20px auto;
        display: block;
        width: 400px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: var(--white-two);
        background-color: transparent;
        background-clip: padding-box;
        border: 1.8px solid var(--light-gray);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.2rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .cover_dropdown {
        position: relative;
    }
    .dropdown__list__ {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        z-index: 9999;
        top: calc(90% + 2px);
        background-color: var(--white-two);
        border-radius: 4px;
        align-items: center;
        box-shadow: 0px 0px 3px;
        transition: all 0.5s ease;
    }

    .dropdown__item__ {
        list-style: none;
        width: 400px;
        background-color: var(--white-two);
        color: var(--dark-tan);
        padding: 10px 10px;
        border-bottom: 1px solid var(--light-gray);
        &:last-child {
            border-bottom: none;
        }
    }
    .dropdown-joke-link {
        color: var(--light-dark);
    }
    .joke-text {
        display: block;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-family: "Montserrat", sans-serif;
    }

    .home_input::placeholder {
        color: var(--white);
        opacity: 1;
    }

    .home_cover_pic {
        z-index: 1;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: $medium) {
        .home-cover-content {
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        .home_cover-subtitle {
            color: var(--white-two);
            font-size: 18px;
            margin-bottom: 2px;
        }
        .home_cover-title {
            font-size: 30px;
        }
        .home_input {
            width: 350px;
            margin: 5px auto;
            line-height: 0.5;
            padding: 0.3rem 0.5rem;
            font-size: 0.75rem;
        }
    }
    @media screen and (max-width: $small) {
        .home-cover-content {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 00%);
            text-align: center;
        }
        .home_cover-title {
            font-size: 18px;
        }
        .home_input {
            width: 250px;
            margin: 5px auto;
            line-height: 0.4;
            padding: 0.2rem 0.5rem;
            font-size: 0.75rem;
        }
    }
}

// @media screen and (max-width: 800px) {

// }

.catogory {
    background-color: var(--white);
}
.category-container {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .category-item {
        width: 206px;
        margin: 5px 8px 7.5px;
        height: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 1.43;
        font-stretch: normal;
        font-size: 14px;
        color: var(--white-two);
        background-color: var(--dark-tan);
        padding: 14px 20px;
        border-radius: 2px;
        border: 1px solid var(--white);
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
            color: var(--black);
            border: 1px solid var(--light-dark);
        }
    }
}

.joke-container {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    .joke-item {
        padding: 10px;

        margin: 10px 0px;
        background-color: var(--white-two);

        .joke-title {
            text-transform: uppercase;
            width: 206px;
            height: 20px;
            margin: 6px 0 6px 22px;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: var(--black);
        }
        .joke-value {
            width: 328px;
            height: 154px;
            margin: 6px 10px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--black);
        }
    }
}

.joke-page {
    background-color: var(--white);
    min-height: 40vh;
}

.joke-box {
    background-color: var(--white-two);
}
